# ==========================================
# 1. Virtual Environments & Dependencies
# ==========================================
.env
**/.venv/
**/[Vv]env/
**/ENV/
**/env/

# ==========================================
# 2. Python & Build Artifacts
# ==========================================
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.pytest_cache/
**/.tox/
**/.nox/
**/.coverage
**/htmlcov/
build/
dist/
wheels/
*.egg-info/

# ==========================================
# 3. Log Files
# ==========================================
*.log

# ==========================================
# 4. Version Control & IDEs
# ==========================================
**/.vscode/
**/.vs/
**/.idea/

# ==========================================
# 5. Database & Migrations
# ==========================================
**/local_db/
*.db

# ==========================================
# 6. Miscellaneous
# ==========================================
**/.DS_Store
Thumbs.db

# ==========================================
# 7. exception to the rule
# ==========================================
!app/files/.keepit